* {
  box-sizing: border-box;
  border: none;
  font-family: 'Century';
}
h1, h2, h3, h4, h5 {
  font-family: 'Century Gothic';
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
